/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  padding: 0;
}

.page {
  background: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 4.5rem;
  min-width: 360px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: forestgreen;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
  z-index: 100;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 4.5em;
  min-height: 100%;
}

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 5%;
}

.logo__image {
  display: block;
  width: 250px;
  max-width: 100%;
}

.nav-toggle {
  display: none;
  position: absolute;
  cursor: pointer;
  border: none;
  top: .75rem;
  right: .5rem;
  width: 56px;
  height: 56px;
  background-color: goldenrod;
  border-radius: 50%;
}

.nav-toggle:focus {
  outline: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: #000;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.hamburger::after {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.nav {
  position: relative;
  -webkit-transition: height 250ms;
  -o-transition: height 250ms;
  transition: height 250ms;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  height: 100%;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}

.nav__link:hover {
  background-color: goldenrod;
  color: black;
}

.section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  margin: 0 0 .2em;
  color: darkgreen;
}

.section-description {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  max-width: 500px;
  display: inline-block;
}

.main-block {
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
  z-index: 50;
}

.main-block__content {
  min-height: 500px;
  padding: 4rem 0;
  background: url('./images/cat-main.png') right bottom / contain no-repeat;
}

.main-block__title {
  margin: 0 0 .2em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4.5rem;
  line-height: 1em;
  color: goldenrod;
}

.main-block__subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

.reliable {
  position: relative;
  background-color: goldenrod;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
}

.reliable__content {
  min-height: 500px;
  padding: 4rem 0;
  text-align: right;
  background: url('./images/cat-reliable.png') left bottom / contain no-repeat;
}

.beautiful {
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
  z-index: 50;
}

.beautiful__content {
  min-height: 500px;
  padding: 4rem 0;
  background: url('./images/cat-beautiful.png') right bottom / contain no-repeat;
}

.beautiful .section-title {
  color: goldenrod;
}

.friendly {
  position: relative;
  background-color: goldenrod;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
}

.friendly__content {
  min-height: 500px;
  padding: 4rem 0;
  text-align: right;
  background: url('./images/cat-friendly.png') left bottom / contain no-repeat;
}

.works {
  position: relative;
  padding: 6rem 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
  z-index: 50;
}

.works__title {
  margin: 0 0 1.2em;
  text-align: center;
  color: goldenrod;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.75rem;
}

.best {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
  -ms-grid-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 0;
  margin: 0 0 6em;
  list-style: none;
}

.best__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.best__item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.best__item:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-row: 1;
}

.best__item:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-row: 1;
}

.best__card {
  display: block;
  border-radius: 1em;
  padding: 1.5em;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .05);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, .05);
  text-align: center;
}

.best__card:hover {
  -webkit-box-shadow: 0 0 10px forestgreen;
          box-shadow: 0 0 10px forestgreen;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.best__image {
  width: 220px;
  max-width: 100%;
  border-radius: 50%;
}

.best__name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 1em 0 0;
  color: #000;
  font-weight: 400;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video {
  display: block;
  border: 0;
  width: 49%;
  min-height: 320px;
}

.contact {
  position: relative;
  background-color: goldenrod;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .6), 0 0 10px rgba(0, 0, 0, .3);
  padding: 4rem 0;
}

.contact-title {
  margin: 0 0 1em;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.form__label {
  display: block;
  margin-bottom: .2em;
}

.form__input {
  width: 100%;
  margin-bottom: .75em;
  font-family: inherit;
  font-size: 1.1rem;
  border: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  padding: .2em .5em;
  border-radius: .5em;
}

.form__text {
  width: 100%;
  min-height: 80px;
  margin-bottom: .75em;
  font-family: inherit;
  font-size: 1.1rem;
  border: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  padding: .2em .5em;
  border-radius: .5em;
  resize: vertical;
}

.form__input:focus,
.form__text:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px forestgreen;
          box-shadow: 0 0 10px forestgreen;
}

.form__button {
  border: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .4);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .4);
  background-color: forestgreen;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  border-radius: .5em;
  padding: .2em 1em;
  margin: 0 .2em;
}

.form__button:hover {
  background-color: goldenrod;
  color: #000;
  cursor: pointer;
  -webkit-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}

.form__button:focus {
  outline: none;
}

.footer {
  background-color: forestgreen;
  position: relative;
  z-index: 50;
}

.footer__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  min-height: 100%;
}

.copyright {
  margin: 0;
}

.footer-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1.5em;
  font-weight: 300;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  display: block;
  text-align: center;
}

.footer-nav__link:hover {
  color: goldenrod;
}

@media (max-width: 1200px) {

  .container {
    padding-right: 1em;
    padding-left: 1em;
  }

  .main-block__title {
    width: 60%;
  }
}

@media (max-width: 900px) {

  .main-block__content {
    background-size: 90% auto;
    background-position: right bottom;
  }

  .main-block__content,
  .reliable__content,
  .beautiful__content,
  .friendly__content {
    min-height: 700px;
  }

  .reliable__content,
  .beautiful__content,
  .friendly__content {
    background-size: auto 70%;
  }

  .video {
    width: 100%;
    margin-bottom: 1em;
  }

  .video:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {

  .header__content {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
  }

  .nav {
    height: 6rem;
  }

  .nav-toggle {
    display: block;
  }

  .nav_hidden {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .nav__list {
    display: block;
    text-align: center;
  }

  .nav__link {
    margin: 1em auto;
    padding: 0;
    display: block;
  }

  .main-block__title {
    width: 100%;
  }

  .main-block__content,
  .reliable__content,
  .beautiful__content,
  .friendly__content {
    min-height: 600px;
  }

  .main-block__content {
    background-size: auto 50%;
    background-position: 30% bottom;
  }

  .reliable__content,
  .beautiful__content,
  .friendly__content {
    background-size: auto 50%;
  }

  .video {
    width: 100%;
    margin-bottom: 1em;
  }

  .video:last-of-type {
    margin-bottom: 0;
  }
}
